.container

  %h3.text-center.py-4 Encuentra Clubes
  =render partial: "shared/clubs_selector", locals: {url: clubs_path}

  - @clubs.each do |club|
    .div.py-2
      .card
        .card-header
          .fw-bolder= club.name
          .fw-lighter= club.comuna
        .card-body
          #{club.address}
          %br
          = number_to_phone_cl club.phone if club.phone.length > 8