= @stored_location
= form_with url: user_google_oauth2_omniauth_authorize_path(redirect_path: session[:redirect_path]), method: :post, data: {turbo: false} do |form|
  .d-grid.gap-2
    = form.button :button, type: :submit, class: "btn btn-social btn-google" do
      %i.bi.bi-google.fs-6.align-middle
      .text-center Continuar con Google
