.container
  .row
    .col-md-12
      %h2.section-title.text-center
        Juega Más y Mejora tu Padel
        .small
          Reserva cancha y organiza tus partidos

  -# - unless user_signed_in?
  -#   .row
  -#     .col-md-12
  -#       .text-center
  -#         =link_to "Comenzar", new_user_registration_path, class: "btn btn-fill btn-lg btn-primary"
.container
  .row
    .col-md-12
      .text-center
        =link_to "RESERVAR CANCHA", "#", class: "btn btn-fill btn-secondary btn-lg"
