.container{style: "padding: 12px 0 24px 0"}
  .row
    .col-md-5
      =image_tag "handsome_boy.jpeg", class: "img-fluid"
    .col-md-7
      %h2.fw-lighterlight
        Todas las canchas
        en un solo lugar
      %p.font-monospace
        Encuentra la cancha que estás buscando.
        