.container
  .row
    .col-md-7.mt-3
      %h2.fw-lighterlight
        Todas las canchas
        en un solo lugar
      %p.font-monospace
        Más de #{Court.all.count} 
        canchas. Para que reserves y jueges en el horario que más te acomode.
      .d-grid.gap-2.col-10.mx-auto
        -# = link_to "ENCUENTRA TU CANCHA", availability_path, type: :button, class: "btn btn-primary" 
    .col-md-5.mt-3
      -# =image_tag "handsome_boy.jpeg", class: "img-fluid"
    