%br
%br
.container
  .row
    .col-md-12
      %h2.section-title.text-center
        Organiza tu Padel
        .small.fw-lighter.lh-base
          Encuentrar Rivales, Reservar Cancha y a Jugar
%br
-# .container
-#   .row
-#     .col-md-12
-#       .text-center
        -# =link_to "RESERVAR CANCHA", "#", style: "background-color: #E7EB70",class: "btn btn-fill btn-lg"
-# %hr
-# .container
-#   .row
-#     %h2
-#       = @club.name
-#       .fs-5.fw-lighter= @club.address
-#     %h4
-#       #{l(@date, format: "%A %e de %B").capitalize}
-# %br
= turbo_frame_tag "day_selector" do
  =render partial: "reservations/day_selector"
