-# .div{style: "padding: 12px 0 24px 0;"}
-#     .container
-#         .row{style: ""}
-#             .col-md-12
-#                 %h2.pt-3
-#                     Marketing para aumentar la ocupación de canchas.
-#                     %small.fw-light sin esfuerzo
-#                 %small
-#                     Privio es la plataforma de marketing para clubes pádel que 
-#                     necesita aumentar su ocupación <b>AHORA</b>. Crea comunidad,
-#                     aumenta tu público y obtén más reservas, con marketing
-#                     en piloto automático.
-#             .col-md-12
-#                 =image_tag "padel_girl_1", class: "img-fluid"
-#         .row 
-#             .col-4 
-#                 .div{style: "font-size: 10em;"}
-#                     %i{class: "bi bi-whatsapp"}


.container
    %h1 Llegamos hasta aquí!
    = image_tag "screenshot.png"
            
            