.container
  %h4.text-center{style: "padding: 24px 0 24px 0;"}
    Mis reservas
  - if @reservations.any?
    - @reservations.each do |reservation|
      .div{style: "padding: 0 0 24px 0;"}
        =render partial: 'form', locals: {reservation: reservation}
