.container
  .row{style: "padding: 12px 0 24px 0;"}
    .col-6.text-start
      .fs-4
        Mis Reservas
    .col-6.text-end
      %fs-4
        =link_to root_path, type: :button, class: "btn btn-outline-dark" do
          %i{class: "bi bi-plus"}
          Nueva Reserva

  .row
    - pending_payment = @reservations.select{|r| not r.paid?}
    - if pending_payment.any?
      - pending_payment.each do |reservation|
        = turbo_frame_tag "reservation_#{reservation.id}" do
          =render partial: 'form', locals: {reservation: reservation}

    - paid = @reservations.select{|r| r.paid?}
    - if paid.any?
      - paid.each do |reservation|
        = turbo_frame_tag "reservation_#{reservation.id}" do
          =render partial: 'form', locals: {reservation: reservation}
