.container
  .row{style: "padding: 12px 0 24px 0;"}
    .col-6.text-start
      .fs-4
        Reserva ##{@reservation.id}
  .div-text-center
    = render partial: 'card', |
        locals: {reservation: @reservation}
  .row{style: "padding: 12px 0 24px 0;"}
    .col-6.text-start
      = button_to "Ver todas mis reservas", reservations_path, method: :get, class: "btn btn-link"
    .col-6.text-end
      =button_to root_path, method: :get, type: :button, class: "btn btn-outline-dark btn-sm" do
        %i{class: "bi bi-plus"}
        Nueva Reserva
