.root-container {
    max-width: 660px;
    padding-left: 9px;
    padding-right: 9px;
}

.nav-container {
  max-width: 660+60px;
}

html, body, .tooltip, .popover {
    font-family: sans-serif;
  }
  code, kbd, pre, samp, .text-monospace {
    font-family: monospace;
  }
  button, input, optgroup, select, textarea {
    font-family: inherit;
  }