%footer.py-3.my-4
  %ul.nav.justify-content-center.border-bottom.pb-3.mb-3
    %li.nav-item
      %a.nav-link.px-2.text-muted{:href => "#"}
         
    %li.nav-item
      = link_to "Clubes", clubs_path, class: "nav-link px-2 text-muted"
    %li.nav-item
  %p.text-center.text-muted © 2022 Unpickle, Inc