%nav.navbar.navbar-expand-md.navbar-dark{style: "background-color: #EBEBEB;"}
  .container
    %a.navbar-brand.fw-bolder.text-dark{:href => root_path}
      -# = @club ? @club.name.gsub(" ", "_").camelize :   "TodoPadel"
      Padel64
    - if not(current_page? reservations_path) and current_user
      %a.nav-link{:href => reservations_path} Mis Reservas
    - if user_signed_in?
      %a.nav-link{:href => edit_user_registration_path}
        %i{class: "bi bi-person"}
    - else
      .div
      = link_to "Entrar", new_user_session_path, type: :button, class: "btn btn-link text-decoration-none"
      = link_to "Empezar", new_user_registration_path, type: :button, class: "btn btn-primary text-decoration-none"
