%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => root_path} PadelApp
    %a.nav-link.d-flex{:href => "#"} Iniciar Sesión
    %button.btn.btn-secondary{:href => "#?crear-cuenta=1"} Crear Cuenta

